[submodule "MaichartConverterUnitTest"]
	path = MaichartConverterUnitTest
	url = git@github.com:Neskol/MaichartConverterUnitTest.git
[submodule "MaiLib"]
	path = MaiLib
	url = https://github.com/Neskol/MaiLib.git
